{
  "extends": ["react-app"],
  "parser": "babel-eslint",
  "rules": {
    "no-multi-spaces": "warn",
    "import/no-unresolved": "warn",
    "react/jsx-space-before-closing": "warn",
    "jsx-quotes": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "react/jsx-boolean-value": "warn",
    "react/no-string-refs": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-pascal-case": "warn",
    "import/extensions": "warn",
    "react/no-unused-prop-types": "warn"
  }
}
