body {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  padding: 0;
}
// 底部header高度
.footer-height {
  height: 60px;
}
//头部高度
.header-height {
  height: 45px;
}

.gray-bg-color {
  background-color: #f5f5f5;
}

@mixin createSpacing ($prefix) {
  @for $i from 0 to 10 {
    .#{$prefix}-#{$i*5} {
      #{$prefix}: #{$i*5}px;
    }
    .#{$prefix}-vertical-#{$i*5} {
      #{$prefix}: #{$i*5}px 0;
    }
    .#{$prefix}-horizontal-#{$i*5} {
      #{$prefix}: 0 #{$i*5}px;
    }
    .#{$prefix}-left-#{$i*5} {
      #{$prefix}-left: #{$i*5}px;
    }
    .#{$prefix}-right-#{$i*5} {
      #{$prefix}-right: #{$i*5}px;
    }
    .#{$prefix}-top-#{$i*5} {
      #{$prefix}-top: #{$i*5}px;
    }
    .#{$prefix}-bottom-#{$i*5} {
      #{$prefix}-bottom: #{$i*5}px;
    }
  }
}

.dividend {
  border-bottom: 1px solid #dcdcdc;
}

.border {
  border: 1px solid #999999;
}

@include createSpacing("padding");
@include createSpacing("margin");
